version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_spring
    restart: unless-stopped
    ports:
      - "54350:5432"
    environment:
      POSTGRES_DB: offset_database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
